.row{
  padding-left: 10px;
}

.row > h2 {
  padding: 10px;
}

.row_content {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 22px;
  padding: 10px;
}

.row_content {
  display: flex;
  overflow-y: scroll;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 22px;
  padding: 10px;
}

.row_content::-webkit-scrollbar {
  display: none;
}

.row_larg_movie {
  display: flex;
  object-fit: contain;
  width: 200px;
  height: 300px;
  padding-left: 10px;
  transition: transform 450ms;
}

.row_movie {
  display: flex;
  width: 223px;
  height: 125px;
  padding-left: 10px;
  transition: transform 450ms;
}

.row_movie:hover{
  transform: scale(1.08);
}

.row_larg_movie:hover {
  transform: scale(1.08);
}
